<nav>
  <button mat-mini-fab aria-label="menu icon" (click)="showStatistics()">
    <mat-icon>trending_up</mat-icon>
  </button>
</nav>

<section>
  @if (currentVerb) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title class="ukrainian-word">{{ currentVerb[0] | titlecase }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="answer-form-field" appearance="outline">
          <mat-label>{{ currentQuestion }}</mat-label>
          <input matInput type="text" autofocus
                 [(ngModel)]="currentAnswer"
                 (keydown.enter)="checkAnswer()">
          <button matSuffix mat-icon-button aria-label="Clear" [disabled]="!currentAnswer" (click)="checkAnswer()">
            <mat-icon>check</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        @if (completed()) {
          <table class="full">
            <tr>
              <td class="blue-color">Total answers: {{totalAnswers.length}}</td>
              <td class="purple-color">Right: {{totalRightAnswers}}</td>
              <td class="red-color">Wrong: {{totalWrongAnswers}}</td>
            </tr>
            @for (item of totalAnswers; track item.verb[0]) {
              @if (!item.result) {
                <tr>
                  <td class="blue-color">{{ item.verb[0] }}</td>
                  <td class="purple-color">{{ item.yourAnswer }}</td>
                  <td class="red-color">
                    @for (word of  item.verb[1]; track word) {
                      <span [class.red-color]="item.question === $index">{{word}} </span>
                      @if ($index !== item.verb[1].length-1) {
                        <span>|</span>
                      }
                    }
                    {{ item.verb[1][item.question] }}
                  </td>
                </tr>
              }
            }
          </table>
        }
        @else {
          <footer>
            <span class="blue-color"> Всього: {{totalAnswers.length}}</span>
            <span class="purple-color">Вірно: {{totalRightAnswers}}</span>
            <span class="red-color">Невірно: {{totalWrongAnswers}}</span>
          </footer>
        }
      </mat-card-actions>
    </mat-card>
  }
</section>
